@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h2>Display</h2>
<p>
    <a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button">Back to Queue Page</a>
</p>
@{
    string output = "";
    foreach (string newEntry in ViewBag.myQueue)
    {
        output += newEntry + "<br>";
    }
}
@Html.Raw((string)output)
