
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <ol>
        <li>Add one item to Queue</li>
        <li>Add Huge List of Items to Queue</li>
        <li>Display Queue</li>
        <li>Delete from Queue</li>
        <li>Clear Queue</li>
        <li>Search Queue</li>
        <li><a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to Main Menu</a></li>
    </ol>
</p>