
@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>
<!--For each entry in the dictionary, display the keys and the values-->
@{ 
    string output = "";
    foreach(KeyValuePair<string, int> newEntry in ViewBag.MyDictionary) {
        output += newEntry.Value + ": " + newEntry.Key + "<br>";
    }
}

@Html.Raw((string) output)

<div>
    <a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button"> Return to Dictionary Menu</a>
</div>