@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <ol>
        <li><a href="@Url.Action("AddOne", "Dictionary")" class="w3-bar-item w3-button">Add one item to Dictionary</a></li>
        <li><a href="@Url.Action("AddHugeList", "Dictionary")" class="w3-bar-item w3-button">Add Huge List of Items to Dictionary</a></li>
        <li>Display Dictionary</li>
        <li>Delete from Dictionary</li>
        <li>Clear Dictionary</li>
        <li>Search Dictionary</li>
        <li><a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to Main Menu</a></li>
    </ol>
</p>
<!--
<p>
    //ViewBag.MyDictionary.Count
</p>
-->
