
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <ol>
        <li>Add one item to Dictionary</li>
        <li>Add Huge List of Items to Dictionary</li>
        <li>Display Dictionary</li>
        <li>Delete from Dictionary</li>
        <li>Clear Dictionary</li>
        <li>Search Dictionary</li>
        <li><a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to Main Menu</a></li>
    </ol>
</p>
