
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h2>Index</h2>

<div class="w3-bar w3-black">
        <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button">Stack</a>
        <a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Dictionary</a>
        <a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button">Queue</a>
        <a href="https://www.byu.edu" class="w3-bar-item w3-button">Exit</a>
</div>
<p>
    <img alt="Soccer Ball" src="~/Content/Graphics/SoccerBall.jpg" class="center"/>
</p>