
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <ol>
        <li>
            <a href="@Url.Action("Index", "Stack")" class="w3-bar-item w3-button">Stack</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Dictionary</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button">Queue</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Exit</a>
        </li>
    </ol>
</p>