
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <ol>
        <li>Add one item to Stack</li>
        <li>Add Huge List of Items to Stack</li>
        <li>Display Stack</li>
        <li>Delete from Stack</li>
        <li>Clear Stack</li>
        <li>Search Stack</li>
        <li><a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to Main Menu</a></li>
    </ol>
</p>
